mixin dropdown(id, text, link, absolute, align, active)
	if(align)
		- alignClass = 'p-dropdown--'+align;
	.p-dropdown.js-snippet(class={'p-dropdown--absolute': absolute}, class=alignClass)
		//- Add attridute "data-toggle-outside" to close the list when clicking outside
		button(
			type="button", 
			class="c-btn c-btn--primary p-dropdown__toggle"
			data-toggle-class, 
			data-toggle-target-next, 
			aria-expanded="false",
			id="dropdownButton"+id, 
			aria-controls="dropdownList"+id)&attributes({"data-toggle-is-active": active, "data-toggle-outside": absolute})
			span= text
			svg(class="icon p-dropdown__icon", aria-hidden="true")
				use(xlink:href="#icon-chevron-down")
		ul(
			class="p-dropdown__list",
			id="dropdownList"+id,
			aria-labelledby="dropdownButton"+id,
			aria-hidden="true")
			each i in [1, 2, 3]
				li
					if(link)
						a(href="#", class="p-dropdown__item") Link #{i}
					else
						//- Add attridute "data-toggle-trigger-off" to close the list after selecting an option
						button(
							type="button",
							class="p-dropdown__item",
							data-toggle-trigger-off) Option #{i}

section.section.js-menu#Dropdowns
	.row
		.col-12
			h3.section__title Dropdowns
	.row.js-parent-snippet.u-mb
		.col-12
			h4 Default
		.col-auto
			+dropdown('1', 'Choose an action (open by default)', false, false, false, true)
		.col-auto
			+dropdown('2', 'Go to', true)
	.row.js-parent-snippet
		.col-12
			h4 Absolute
		.col-auto
			+dropdown('3', 'Choose an action', false, true, false, false)
		.col-auto
			+dropdown('4', 'Choose an action (left)', false, true, 'left', false)
		.col-auto
			+dropdown('5', 'Choose an action (right)', false, true, 'right', false)