mixin dropdown(id, text, link, absolute, align)
	if(align)
		- alignClass = 'dropdown--'+align;
	.dropdown.js-snippet(class={'dropdown--absolute': absolute}, class=alignClass)
		button(
			type="button", 
			class="btn btn--primary dropdown__toggle js-dropdown",
			aria-expanded="false"
			aria-controls="dropdownList"+id)
			span= text
			svg(class="icon dropdown__icon", aria-hidden="true")
				use(xlink:href="#icon-chevron-down")
		ul.dropdown__content(id="dropdownList"+id)
			each i in [1, 2, 3]
				li
					if(link)
						a(href="#", class="dropdown__item") Link #{i}
					else
						button(type="button", class="dropdown__item") Option #{i}

section.section.js-menu#Dropdowns
	.row
		.col-12
			h3.section__title Dropdowns
	.row.js-parent-snippet.mb
		.col-12
			h4 Default
		.col-auto
			+dropdown('1', 'Choose an action (open by default)', false, false, false)
		.col-auto
			+dropdown('2', 'Go to', true)
	.row.js-parent-snippet
		.col-12
			h4 Absolute
		.col-auto
			+dropdown('3', 'Choose an action', false, true, false, false)
		.col-auto
			+dropdown('4', 'Choose an action (left)', false, true, 'left', false)
		.col-auto
			+dropdown('5', 'Choose an action (right)', false, true, 'right', false)