mixin offcanvas(id, align, responsive)
	- var responsiveClass = '';
	- var alignClass = '';
	if(responsive)
		- responsiveClass = 'offcanvas--mq';
	if(align)
		- alignClass = 'offcanvas--'+align;
	.offcanvas(class=alignClass+' '+responsiveClass, aria-labelledby="titleOffcanvas"+id, id="offcanvas"+id)
		.offcanvas__wrap.js-offcanvas-stop
			.offcanvas__content
				.offcanvas__header
					h3(id="titleOffcanvas"+id, class="offcanvas__title") Offcanvas title
					button.offcanvas__close.btn.btn--transparent.js-offcanvas-close(type="button", aria-label="Fermer")
						svg(class="icon", aria-hidden="true")
							use(xlink:href="#icon-x")
				.offcanvas__body
					if(responsive)
						p Offcanvas in &lt; 768px res. Default flow in &gt;= 768px res.
					else
						if(align == 'right')							
							.dropdown.mb
								button(
									type="button", 
									class="btn btn--primary dropdown__toggle js-dropdown",
									aria-expanded="false"
									aria-controls="dropdownListInModal"+id)
									span Dropdown
									svg(class="icon dropdown__icon", aria-hidden="true")
										use(xlink:href="#icon-chevron-down")
								ul.dropdown__content(id="dropdownListInModal"+id)
									each i in [1, 2, 3]
										li
											button(type="button", class="dropdown__item") Option #{i}
							.row
								.col-12.mb
									.form-group
										label(for="demoInputOffcanvasA"+id) Label
										input(type="text", id="demoInputOffcanvasA"+id)
								.col-12.mb
									.form-group
										label(for="demoInputOffcanvasB"+id) Label
										input(type="text", id="demoInputOffcanvasB"+id)
								.col-auto.mb.ml-a
									.form-group
										button(type="button", class="btn btn--error btn--outline js-offcanvas-close") Fermer
								.col-auto.mb
									.form-group
										button(type="button", class="btn btn--success") Valider
						else
							ul
								li
									a(href="#") Menu item #1
								li
									a(href="#") Menu item #2
								li
									a(href="#") Menu item #3

section.section.js-menu#Offcanvas
	.row.js-parent-snippet.mb
		.col-12
			h3.section__title Offcanvas
		.col-12
			h4 Default
		.col-auto
			nav.js-snippet
				button(type="button", class="btn btn--primary js-offcanvas", data-offcanvas-id="offcanvas1", aria-expanded="false") Open offcanvas
				+offcanvas('1', false)
		.col-auto
			aside.js-snippet
				button(type="button", class="btn btn--primary js-offcanvas", data-offcanvas-id="offcanvas2", aria-expanded="false") Open offcanvas (right)
				+offcanvas('2', 'right')
	.row.js-parent-snippet
		.col-12
			h4 Displayed at medium MQ
		.col-12
			aside.js-snippet
				button(type="button", class="btn btn--primary js-offcanvas md:d-none", data-offcanvas-id="offcanvas3", aria-expanded="false") Open offcanvas (right)
				+offcanvas('3', false, true)