mixin input(type, id, error, help)
	if error == true
		- var describedBy = id+'-error';
	if help == true
		- var describedBy = id+'-help';
	if type == 'text'
		input(type='text', id=type+id, aria-describedby=describedBy)
	if type == 'select'
		select(id=type+id, aria-describedby=describedBy)
	if type == 'textarea'
		textarea(id=type+id, aria-describedby=describedBy)

.col-12
	h2 Prepend / Append
.col-12
	.row.js-parent-snippet
		each val, index in ['text', 'select', 'textarea']
			div(class="col-12 md:col-6 lg:col-4")
				.form-group
					label(for=val+"prependAppend1") Label
					.input-group
						span.add Prefix
						+input(val, 'prependAppend1')
			div(class="col-12 md:col-6 lg:col-4") 
				.form-group
					label(for=val+"prependAppend2") Label
					.input-group
						+input(val, 'prependAppend2')
						span.add Suffix
			div(class="col-12 md:col-6 lg:col-4")
				.form-group(class={'js-snippet': val=='text'})
					label(for=val+"prependAppend3") Label
					.input-group
						span.add Prefix
						+input(val, 'prependAppend3')
						span.add Suffix
		div(class="col-12 md:col-6 lg:col-4")
			.form-group
				label(for="textprependAppend4") Label
				+helpMsg('prependAppend4-help')
				.input-group
					span.add Prefix
					+input('text', 'prependAppend4', false, true)
		div(class="col-12 md:col-6 lg:col-4")
			.form-group.error
				label(for="textprependAppend5") Label
				+errorMsg('prependAppend5-error')
				.input-group
					span.add Prefix
					+input('text', 'prependAppend5', true)
