each val, index in ['text', 'date', 'search', 'file']
	.col-12
		h2= val.charAt(0).toUpperCase() + val.slice(1)
	.col-12
		.row.js-parent-snippet&attributes({"role='search'": val=='search', "aria-label='Demo Search'": val=='search'})
			div(class="col-12 md:col-6 lg:col-4")
				.form-group
					label(for=val+"inputWithoutValue") Label
					if val == 'date' || val == 'file'
						input(type=val, id=val+'inputWithoutValue')
					else
						input(type=val, id=val+'inputWithoutValue', placeholder=val+' placeholder')
			div(class="col-12 md:col-6 lg:col-4")
				.form-group
					label(for=val+"inputWithValue") Label
					if val == 'date' || val == 'file'
						input(type=val, id=val+'inputWithValue')
					else
						input(type=val, id=val+'inputWithValue', value=val+' value')
			if val != 'file'
				div(class="col-12 md:col-6 lg:col-4")
					.form-group
						label(for=val+"inputReadonly") Label
						if val == 'date'
							input(type=val, id=val+'inputReadonly', readonly)
						else
							input(type=val, id=val+'inputReadonly', value=val+' readonly', readonly)
			div(class="col-12 md:col-6 lg:col-4")
				.form-group(class="js-snippet")
					label(for=val+"inputDisabled") Label
					+helpMsg(val+'inputDisabled-help')
					if val == 'date' || val == 'file'
						input(type=val, disabled, id=val+"inputDisabled", aria-describedby=val+'inputDisabled-help')
					else
						input(type=val, value=val+' disabled', id=val+"inputDisabled", disabled, aria-describedby=val+'inputDisabled-help')
			div(class="col-12 md:col-6 lg:col-4")
				.form-group.error
					label(for=val+"inputError") Label
					+errorMsg(val+'inputError-error')
					input(type=val, id=val+"inputError", aria-describedby=val+'inputError-error')