each val, index in ['text', 'date', 'search', 'file']
	.col-12
		h2= val.charAt(0).toUpperCase() + val.slice(1)
	if val == 'search'
		.col-12
			.bg-lightgrey.p 
				p 
					b Notes :
				ul
					li 
						| Ajouter 
						code role="search"
						|  au conteneur.
	.col-12
		.row.js-parent-snippet&attributes({"role='search'": val=='search', "aria-label='Demo Search'": val=='search'})
			.col-12.col-md-6.col-lg-4
				.form-group
					if val == 'date' || val == 'file'
						input(type=val, aria-label=val)
					else
						input(type=val, placeholder=val+' placeholder', aria-label=val)
			.col-12.col-md-6.col-lg-4
				.form-group
					if val == 'date' || val == 'file'
						input(type=val, aria-label=val)
					else
						input(type=val, value=val+' value', aria-label=val)
			if val != 'file'
				.col-12.col-md-6.col-lg-4
					.form-group
						if val == 'date'
							input(type=val, readonly, aria-label=val)
						else
							input(type=val, value=val+' readonly', readonly, aria-label=val)
			.col-12.col-md-6.col-lg-4
				.form-group(class="js-snippet")
					if val == 'date' || val == 'file'
						input(type=val, disabled, aria-label=val)
					else
						input(type=val, value=val+' disabled', disabled, aria-label=val)
					include message-help.pug
			.col-12.col-md-6.col-lg-4
				.form-group.error
					input(type=val, aria-label=val)
					include message-error.pug
			.col-12.col-md-6.col-lg-4
				.form-group.valid
					input(type=val, aria-label=val)
					include message-valid.pug